h1, h2, h3 {
    text-align: center;
    margin: 0 auto 15px auto;
    padding: 5px;
    width: 600px;
}
h1 {
    border: 2px dotted blue;
    border-radius: 25px;
}
h2 {
    border: 1px solid steelblue;
    border-radius: 10px;
    box-shadow: 5px 5px 15px steelblue;
}
h3 {
    border: 5px double violet;
    border-radius: 10px;
}
p {
    text-align: center;
    border: 1px solid tomato;
}
p, ul, ol {
    width: 500px;
    padding: 20px;
    margin: 0 auto 15px auto;
}
ul, ol {
    border: 1px solid palevioletred;
}
ul>li, ol>li {
    margin: 0 25px 0 25px;
    border-bottom: 1px solid tomato;
}