body {
  margin: 0;
  font-family: sans-serif;
  transition: 1s;
}

section {
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 48px;
  transition: 1s;
}

.circle {
  display: inline-block;
  margin: auto;
}

.circle1,
.circle2,
.circle3,
.circle4 {
  border-radius: 200px;
  border: 5px solid transparent;
  display: inline-block;
  margin: 20px;
  transform: rotate(45deg);
  transition: 0.5s;
}

.circle1:hover,
.circle2:hover,
.circle3:hover,
.circle4:hover {
  transform: rotate(35deg) scale(1.1);
  transition: 0.5s;
}

.upper-half,
.lower-half {
  width: 200px;
  height: 100px;
}

.upper-half {
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
}

.lower-half {
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
}

p {
  padding-top: 20%;
  color: white;
  margin: 0;
}

#circle1 .upper-half {
  background-color: #f6ae2d;
}

#circle1 .lower-half {
  background-color: #2f4858;
}

#circle2 .upper-half {
  background-color: #710627;
}

#circle2 .lower-half {
  background-color: #c5d86d;
}

#circle2 .lower-half p {
  color: black;
}

#circle3 .upper-half {
  background-color: #defffc;
}

#circle3 .lower-half {
  background-color: #86626e;
}

#circle3 .upper-half p {
  color: black;
}

#circle4 .upper-half {
  background-color: #00b9ae;
}

#circle4 .lower-half {
  background-color: #03312e;
}

footer {
  text-align: center;
  font-size: 20px;
  font-weight: 100;
}

p.changeColor {
  color: black;
}

a.changeColor {
  text-decoration: none;
  color: black;
  border-bottom: 2px dotted black;
}

.changecolor {
  color: black;
}
