/* ### IMPORT FONTS ### */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500&display=swap");

/* ### GENERAL STYLING ### */
body {
  margin: 0;
  font-family: "Work Sans";
  background: #2e2e2e;
  color: #ebccc2;
  font-weight: 300;
}

p {
  font-weight: 200;
  line-height: 2;
  color: #867772;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h1 {
  font-size: 36px;
  line-height: 1.2;
  text-transform: capitalize;
}

h2 {
  font-size: 36px;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  text-transform: uppercase;
}

/* ### HEADER ### */
/* Header section as "display: flex" with logo left and nav right */
header {
  top: 25px;
  position: sticky;
}

.desktop {
  display: flex;
  justify-content: space-between;
  margin: 25px 100px 25px 50px;
  position: sticky;
  top: 25px;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  background: url(../img/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

nav {
  flex-direction: row;
  justify-content: flex-end;
  display: flex;
}

.mobile-header {
  display: none;
}

/* Styling nav */
nav > ul {
  list-style: none;
  flex-direction: row;
  display: flex;
  margin: 0;
}

nav > ul > li {
  display: flex;
  height: 20px;
}

nav > ul > li > a {
  color: #ebccc2;
  text-decoration: none;
  font-weight: 300;
  border-bottom: 1px solid transparent;
  transition: 0.5s;
}

li > a:hover {
  color: white;
  transition: 0.5s;
  border-bottom: 1px solid white;
}

.social {
  margin-left: 25px;
  margin-right: 25px;
}

.social li {
  margin-left: 10px;
  margin-right: 10px;
}

/* ### SIDEBAR MENU ### */
/* Sidebar menu as "aside" element */
aside {
  position: fixed;
  margin: 5% 0 auto 50px;
}

aside a {
  text-decoration: none;
  color: #867772;
  transition: 0.5s;
}

aside a:hover {
  color: #fff;
  text-decoration: none;
}

aside ul li {
  padding-top: 100px;
  list-style: none;
  position: relative;
}

aside ul li:first-of-type {
  padding-top: 25px;
}

/* Change font color for menu item of current page */
.current {
  color: white;
}

/* Circle and line decoration elements for sidebar menu */
/* Small circle */
.circle {
  position: absolute;
  height: 12px;
  width: 12px;
  border: 2px solid rgb(115, 115, 115);
  border-radius: 100%;
  display: inline-block;
  left: -55px;
  bottom: 2px;
}

/* Line between circles */
.line {
  position: absolute;
  height: 70px;
  width: 1px;
  background-color: rgb(115, 115, 115);
  display: inline-block;
  left: -47px;
  bottom: -75px;
}

/* Bigger circle (for current page) */
.active {
  position: absolute;
  height: 24px;
  width: 24px;
  border: 2px solid white;
  border-radius: 100%;
  display: inline-block;
  left: -61px;
  bottom: -4px;
}

/* ### PAGE: ABOUT ### */
/* Container for page */
.intro {
  margin: 0 5% 10% 5%;
}

.intro article {
  padding-top: 3%;
  margin: 0 0 15% 35%;
}

/* Big image for about page */
.about-img {
  background-image: url(../img/section-about-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 500px;
  padding-bottom: 500px;
}

/* Product image */
.design-alchemy {
  margin: 0 15% 15% 15%;
  background: url(../img/BS1_NYC_Home.webp);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 2%;
  padding-bottom: 2%;
}

/* Description text */
.design-alchemy article {
  margin-left: 40%;
}

.mobile-img {
  display: none;
}

/* ### CONTAINER FOR PAGES: LOUNGER, EXPERIENCE, SHOP ### */
/* Image on the left, text on the right */
.split {
  display: flex;
  justify-content: space-between;
}

/* Image full height (thus -100px on margin-top) */
.left-img {
  background-size: cover;
  margin-top: -100px;
  margin-right: 50px;
  padding-right: 55%;
  height: 100vh;
  background-position: 50%;
}

.right-text {
  margin-right: 5%;
}

.right-text h1 {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* ### PAGE: LOUNGER ### */
.lounger {
  background-image: url(../img/section-voyager.jpg);
}

/* ### PAGE: EXPERIENCE ### */
.experience {
  background-image: url(../img/section-experience-1.jpg);
}

/* ### PAGE: SHOP ### */
.shop {
  background-image: url(../img/section-composition4.jpg);
}

/* Product image */
.beoplay {
  background-image: url(../img/h9-argilla-bright-hero-1000x1000.webp);
  height: 50vh;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Product description text with centered text */
#shop.right-text {
  width: 100%;
  text-align: center;
}

#shop.right-text h1 {
  margin-top: 3%;
  margin-bottom: 1%;
}

#shop p {
  color: rgba(115, 115, 115);
}

/* Buy button */
.button {
  padding: 15px 30px 15px 30px;
  background-color: #ebccc2;
  color: #2e2e2e;
  text-decoration: none;
  border-radius: 2px;
}

/* ### PAGE: INSPIRATION ### */
/* Container for page */
.container-inspiration {
  padding-left: 20%;
  padding-right: 20%;
}

/* Making the video element use full width of the container */
.container-inspiration video {
  position: relative;
  width: 100%;
  z-index: -1;
}

/* Text and images below video */
.container-inspiration article {
  margin-top: 15%;
}

.tags span {
  padding: 5px 15px 5px 15px;
  border: 1px solid white;
  border-radius: 2px;
  margin-right: 10px;
}

/* Image and text tiles */
/* Container for image and text tiles */
.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 15%;
  margin-bottom: 15%;
}

.tiles h2,
.tiles h3 {
  text-transform: none;
}

/* Making the img elements use half of available container width */
.tile-img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 50vh;
}

/* First image (on the left) */
.img-1 {
  background-image: url(../img/ETC_6.webp);
}

/* Second image (on the right) */
.img-2 {
  background-image: url(../img/ETC_5.webp);
}

/* Text elements using a little bit less than half the container's width to leave space between images and texts */
.tile-text {
  width: 48%;
}

/* SHRINK SIDEBAR MENU SO IT FITS ON LOWER SCREEN HEIGHTS */
@media (max-height: 700px) {
  aside {
    transform: scale(0.8);
    margin-top: 0;
  }
}

@media (max-height: 600px) {
  aside {
    transform: scale(0.6);
    margin-top: 0;
  }
  aside ul li:first-of-type {
    padding-top: 0px;
  }
}

.mobile-nav {
  display: none;
  text-align: center;
}

#toggleOpen,
#toggleClose {
  display: inline-block;
  position: fixed;
  bottom: 0px;
  width: 100px;
  padding: 10px 10px;
  background: #ebccc2;
  box-shadow: 0 0 20px #222;
  z-index: 0;
}

#toggleClose {
  display: none;
}

#toggleOpen p,
#toggleClose p {
  margin: 0;
}

#mobile-menu {
  width: 100%;
  min-height: 50vh;
  background-color: #ebccc2;
  line-height: 4;
  display: none;
  position: fixed;
  bottom: 50px;
  z-index: 1;
}

#mobile-menu nav {
  font-size: 12px;
  justify-content: center;
  margin-bottom: 50px;
}

#mobile-menu ul {
  padding-left: 0;
  list-style: none;
  text-align: center;
}

#mobile-menu a {
  color: #2e2e2e;
}

/* ### MOBILE VERSION ### */
@media (max-width: 900px) {
  aside {
    display: none;
  }
  header {
    position: relative;
    height: 100px;
  }
  .mobile-header {
    display: flex;
    justify-content: space-around;
  }
  .logo {
    background-position: center s;
  }
  .desktop {
    display: none;
  }
  .mobile-nav {
    display: flex;
    justify-content: center;
  }
  .intro {
    margin: 0 5% 10% 5%;
  }

  .intro article {
    margin: 0;
    text-align: center;
  }

  /* Big image for about page */
  .about-img {
    background-image: url(../img/BS1_NYC_Home.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  /* Product image */
  .design-alchemy {
    margin: 0 15% 15% 15%;
    background: none;
  }

  /* Description text */
  .design-alchemy article {
    margin: 0;
    display: block;
  }
  /* ### CONTAINER FOR PAGES: LOUNGER, EXPERIENCE, SHOP ### */
  /* Image on the left, text on the right */
  .split {
    display: block;
    margin: 0 3% 25px 3%;
  }

  /* Image full height (thus -100px on margin-top) */
  .left-img {
    background-size: cover;
    height: 30vh;
    background-position: center;
    margin: 0;
  }

  .right-text {
    margin: 50px 10% 50px 10%;
  }

  .right-text h1 {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  /* ### PAGE: LOUNGER ### */
  .lounger {
    background-image: url(../img/section-voyager.jpg);
  }

  /* ### PAGE: EXPERIENCE ### */
  .experience {
    background-image: url(../img/section-experience-1.jpg);
  }

  /* ### PAGE: SHOP ### */
  .shop {
    background-image: url(../img/section-composition4.jpg);
  }

  /* Product image */
  .beoplay {
    height: 300px;
  }

  /* Product description text with centered text */
  #shop.right-text {
    margin: 0;
    margin-bottom: 20%;
  }
  /* ### PAGE: INSPIRATION ### */
  /* Container for page */
  .container-inspiration:first-of-type {
    padding-left: 0;
    padding-right: 0;
  }

  .container-inspiration {
    padding-left: 5%;
    padding-right: 5%;
  }

  .tiles {
    display: block;
    margin-top: 15%;
    margin-bottom: 15%;
  }

  /* Making the img elements use half of available container width */
  .tile-img,
  .tile-img-mobile {
    width: 100%;
    height: 150px;
    margin-top: 100px;
  }

  /* First image (on the left) */
  .img-1 {
    background-image: url(../img/ETC_6.webp);
  }

  /* Second image (on the right) */
  .img-2-mobile {
    background-image: url(../img/ETC_5.webp);
    margin-top: 100px;
  }

  .img-2 {
    display: none;
  }

  /* Text elements using a little bit less than half the container's width to leave space between images and texts */
  .tile-text {
    width: 100%;
  }
}
